#header {
    height: 50px;
    background: #10284e;
    color: white;
}
#branding h1 {
    color: white;
}
div.breadcrumbs {
    background: #30caa0;
    
}

.module caption, .inline-group h2 {
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
    color: white;
}